<!-- task_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <style>
        /* Styles remain the same as the previous example */
    </style>
</head>
<body>

    <h2>Task Management</h2>

    <h3>Task List</h3>
    <ul>
        {% for task in tasks %}
            <li>
                <li>{{ task['title'] }} </li>
                <li>{{ task['progress'] }}</li>
                <li>{{ task['description_'] }}</li>
                <li>Data de entrega: {{ task['due_date'] }}</li>
                <a href="{{task['id']}}/update">
                    <button> Editar tarefa</button>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="/create">
        <button type="button">{{ 'Nova tarefa' }}</button>
    </a>
</body>
</html>
